# Extract Table Data From Journey North Website

### 1. change the url

### 2. change the csv file name that will be saved

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://journeynorth.org/sightings/querylist.html?season=&map=monarch-adult-fall&year=1997&submit=View+Data"
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

text = soup.find("table")

table = soup.select("table")

table = table[0]

table_df_list = pd.read_html(str(table))

table_df = table_df_list[0]
table_df

<ipython-input-3-167127c84cef>:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table_df_list = pd.read_html(str(table))

,Unnamed: 0,Date,Town,State/Province,Latitude,Longitude,Number,Image
0,1,12/30/97,Houston,TX,29.8,-95.4,1,NaN
1,2,12/12/97,Fremont,CA,37.6,-122.0,1,NaN
2,3,12/09/97,Humble,TX,30.0,-95.2,1,NaN
3,4,11/25/97,Houston,TX,29.8,-95.4,1,NaN
4,5,11/23/97,Wilmington,NC,34.2,-77.9,1,NaN
...,...,...,...,...,...,...,...,...
699,700,02/06/97,Bradenton,FL,27.5,-82.4,1,NaN
700,701,02/06/97,Largo,FL,27.9,-82.8,1,NaN
701,702,02/04/97,Bradenton,FL,27.5,-82.4,1,NaN
702,703,02/01/97,Parrish,FL,27.5,-82.5,1,NaN
703,704,01/01/97,Wilmington,NC,34.2,-77.9,1,NaN

In [ ]:
table_df.to_csv("Monarch_Adult_Sighted_97.csv")

# Finding the Outlier in the CSV Files

### 1. change the range of outlier

### 2. change the csv file name that will be saved

In [221]:
# Find the outlier
MAS23 = pd.read_csv("Monarch_Adult_Sighted_23.csv")
MAS23[MAS23["Number"] >= 4000]

,Unnamed: 0.1,Unnamed: 0,Date,Town,State/Province,Latitude,Longitude,Number,Image
5209,5209,5210,09/04/23,Oklahoma City,OK,36,-98,2147483647,NaN
12161,12161,12162,01/08/23,Pacific Grove,CA,37,-122,4000,NaN

In [ ]:
# Remove the outlier
MAS23.drop(labels=[5209, 12161], axis=0, inplace=True)

# Save
MAS23.to_csv("Monarch_Adult_Sighted_23_removeOutlier.csv")

# Caculating the Sum of the Number in Each Year

### 1. calculate the sum of the number

### 2. indicate the indexes of the values

### 3. change the csv file name that will be saved

In [4]:
MAS24 = pd.read_csv("Monarch_Adult_Sighted_24.csv")
sum_of_MAS24 = MAS24["Number"].sum()

MAS23 = pd.read_csv("Monarch_Adult_Sighted_23_removeOutlier.csv")
sum_of_MAS23 = MAS23["Number"].sum()

MAS22 = pd.read_csv("Monarch_Adult_Sighted_22.csv")
sum_of_MAS22 = MAS22["Number"].sum()

MAS21 = pd.read_csv("Monarch_Adult_Sighted_21.csv")
sum_of_MAS21 = MAS21["Number"].sum()

MAS20 = pd.read_csv("Monarch_Adult_Sighted_20.csv")
sum_of_MAS20 = MAS20["Number"].sum()

MAS19 = pd.read_csv("Monarch_Adult_Sighted_19.csv")
sum_of_MAS19 = MAS19["Number"].sum()

MAS18 = pd.read_csv("Monarch_Adult_Sighted_18.csv")
sum_of_MAS18 = MAS18["Number"].sum()

MAS17 = pd.read_csv("Monarch_Adult_Sighted_17.csv")
sum_of_MAS17 = MAS17["Number"].sum()

MAS16 = pd.read_csv("Monarch_Adult_Sighted_16.csv")
sum_of_MAS16 = MAS16["Number"].sum()

MAS15 = pd.read_csv("Monarch_Adult_Sighted_15.csv")
sum_of_MAS15 = MAS15["Number"].sum()

MAS14 = pd.read_csv("Monarch_Adult_Sighted_14.csv")
sum_of_MAS14 = MAS14["Number"].sum()

MAS13 = pd.read_csv("Monarch_Adult_Sighted_13.csv")
sum_of_MAS13 = MAS13["Number"].sum()

MAS12 = pd.read_csv("Monarch_Adult_Sighted_12.csv")
sum_of_MAS12 = MAS12["Number"].sum()

MAS11 = pd.read_csv("Monarch_Adult_Sighted_11.csv")
sum_of_MAS11 = MAS11["Number"].sum()

MAS10 = pd.read_csv("Monarch_Adult_Sighted_10.csv")
sum_of_MAS10 = MAS10["Number"].sum()

MAS09 = pd.read_csv("Monarch_Adult_Sighted_09.csv")
sum_of_MAS09 = MAS09["Number"].sum()

MAS08 = pd.read_csv("Monarch_Adult_Sighted_08.csv")
sum_of_MAS08 = MAS08["Number"].sum()

MAS07 = pd.read_csv("Monarch_Adult_Sighted_07.csv")
sum_of_MAS07 = MAS07["Number"].sum()

MAS06 = pd.read_csv("Monarch_Adult_Sighted_06.csv")
sum_of_MAS06 = MAS06["Number"].sum()

MAS05 = pd.read_csv("Monarch_Adult_Sighted_05.csv")
sum_of_MAS05 = MAS05["Number"].sum()

MAS04 = pd.read_csv("Monarch_Adult_Sighted_04.csv")
sum_of_MAS04 = MAS04["Number"].sum()

MAS03 = pd.read_csv("Monarch_Adult_Sighted_03.csv")
sum_of_MAS03 = MAS03["Number"].sum()

MAS02 = pd.read_csv("Monarch_Adult_Sighted_02.csv")
sum_of_MAS02 = MAS02["Number"].sum()

MAS01 = pd.read_csv("Monarch_Adult_Sighted_01.csv")
sum_of_MAS01 = MAS01["Number"].sum()

MAS00 = pd.read_csv("Monarch_Adult_Sighted_00.csv")
sum_of_MAS00 = MAS00["Number"].sum()

MAS99 = pd.read_csv("Monarch_Adult_Sighted_99.csv")
sum_of_MAS99 = MAS99["Number"].sum()

MAS98 = pd.read_csv("Monarch_Adult_Sighted_98.csv")
sum_of_MAS98 = MAS98["Number"].sum()

MAS97 = pd.read_csv("Monarch_Adult_Sighted_97.csv")
sum_of_MAS97 = MAS97["Number"].sum()

value = [sum_of_MAS97, sum_of_MAS98, sum_of_MAS99, sum_of_MAS00, sum_of_MAS01, sum_of_MAS02,
         sum_of_MAS03, sum_of_MAS04, sum_of_MAS05, sum_of_MAS06, sum_of_MAS07, sum_of_MAS08,
         sum_of_MAS09, sum_of_MAS10, sum_of_MAS11, sum_of_MAS12, sum_of_MAS13, sum_of_MAS14,
         sum_of_MAS15, sum_of_MAS16, sum_of_MAS17, sum_of_MAS18, sum_of_MAS19, sum_of_MAS20,
         sum_of_MAS21, sum_of_MAS22, sum_of_MAS23, sum_of_MAS24]

value

[713,
 492,
 59,
 29,
 2044,
 64,
 48,
 31,
 47,
 68,
 24,
 69,
 171,
 3550,
 26300,
 34074,
 13006,
 128779,
 197288,
 130173,
 133991,
 273426,
 94389,
 46911,
 94750,
 39976,
 29213.0,
 15264.0]

In [219]:
index_list = list(range(1997, 2025))
index_list

[1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024]

In [220]:
# indicate values in .0f format
pd.options.display.float_format = '{:.0f}'.format

# make dataframe combining indexes and values
df = pd.DataFrame({"sum":value}, index=index_list)
df

# save the dataframe
df.to_csv("sum.csv")

# Calculating the Sum of the Number in Each State

### 1. calculate the sum of the number in each year

### 2. make dataframe representing years and states

### 3. extract each state data using for loop

In [18]:
sum24 = MAS24[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum23 = MAS23[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum22 = MAS22[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum21 = MAS21[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum20 = MAS20[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum19 = MAS19[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum18 = MAS18[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum17 = MAS17[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum16 = MAS16[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum15 = MAS15[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum14 = MAS14[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum13 = MAS13[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum12 = MAS12[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum11 = MAS11[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum10 = MAS10[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum09 = MAS09[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum08 = MAS08[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum07 = MAS07[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum06 = MAS06[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum05 = MAS05[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum04 = MAS04[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum03 = MAS03[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum02 = MAS02[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum01 = MAS01[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum00 = MAS00[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum99 = MAS99[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum98 = MAS98[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

sum97 = MAS97[["State/Province", "Number"]].groupby("State/Province").sum()["Number"]

In [33]:
states_sum = pd.DataFrame({"1997":sum97, "1998":sum98, "1999":sum99, "2000":sum00, "2001":sum01, "2002":sum02, "2003":sum03, "2004":sum04, "2005":sum05, "2006":sum06, "2007":sum07, "2008":sum08, "2009":sum09, "2010":sum10, "2011":sum11, "2012":sum12, "2013":sum13, "2014":sum14, "2015":sum15, "2016":sum16, "2017":sum17, "2018":sum18, "2019":sum19, "2020":sum20, "2021":sum21, "2022":sum22, "2023":sum23, "2024":sum24})
states_sum

,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
State/Province,,,,,,,,,,,,,,,,,,,,,
AB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,4.0,10.0,1.0,2.0,8.0,6.0,1.0,7.0,NaN
AGU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
AK,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AL,13.0,9.0,1.0,NaN,NaN,6.0,NaN,NaN,NaN,1.0,...,162.0,248.0,306.0,553.0,665.0,237.0,1007.0,530.0,567.0,24.0
AR,11.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,260.0,367.0,355.0,890.0,738.0,631.0,515.0,218.0,150.0,236.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
Xinjiang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
YUC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN
ZAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN
Zulia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# save the csv file
states_sum.to_csv("states_sum.csv")

In [36]:
# get data in each state using for loop
indexes = states_sum.index

for index in indexes :
    temp = states_sum.loc[[index]].transpose()
    temp.to_csv(index + ".csv")